{% load static %}

<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Mi perfil de prestador</title>
  <link rel="shortcut icon" type="image/png" href="{% static 'images/dash/logos/seodashlogo.png' %}" />
  <link rel="stylesheet" href="{% static 'css/dash/styles.min.css' %}" />
  <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
  <!--  Body Wrapper -->
  <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
    data-sidebar-position="fixed" data-header-position="fixed">

    <!-- Sidebar Start -->
    <aside class="left-sidebar w-1/5">
      <!-- Sidebar scroll-->
      <div>
        <div class="brand-logo d-flex align-items-center justify-items-start">
          {% comment %} <a href="#" class="text-nowrap logo-img ">
            <img src="{% static 'images/dash/logos/logoPanelControl.png' %}" alt="logo Servicios Ya" />
          </a> {% endcomment %}
          
          <div class="close-btn d-xl-none d-block sidebartoggler cursor-pointer" id="sidebarCollapse">
            <i class="ti ti-x fs-8"></i>
          </div>
          
        </div>
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav" data-simplebar="">
          
          <ul id="sidebarnav">
            <div class="w-full bg-blue-100 h-10 flex justify-center items-center mb-10">
              <h1 class='text-2xl font-medium'>INICIO</h1>
            </div>
            <li class="sidebar-item">
              <a class="sidebar-link" href="{% url 'prestador' %}" aria-expanded="false">
                <span>
                  <iconify-icon icon="solar:home-smile-bold-duotone" class="fs-6"></iconify-icon>
                </span>
                <span class="hide-menu fs-3">Panel principal</span>
              </a>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" href="{% url 'solicitudes_prestador' %}" aria-expanded="false">
                <span>
                  <iconify-icon icon="mdi:briefcase-outline" class="fs-6"></iconify-icon>
                </span>
                <span class="hide-menu fs-3">Solicitudes</span>
              </a>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" href="{% url 'contratos_prestador' %}"aria-expanded="false">
                <span>
                  <iconify-icon icon="solar:layers-minimalistic-bold-duotone" class="fs-6"></iconify-icon>
                </span>
                <span class="hide-menu fs-3">Contratos</span>
              </a>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" href="{% url 'facturas' %}" aria-expanded="false">
                <span>
                  <iconify-icon icon="solar:bookmark-square-minimalistic-bold-duotone" class="fs-6"></iconify-icon>
                </span>
                <span class="hide-menu fs-3">Facturas</span>
              </a>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" href="{% url 'direcciones' %}"aria-expanded="false">
                <span>
                  <iconify-icon icon="solar:planet-3-bold-duotone" class="fs-6"></iconify-icon>
                </span>
                <span class="hide-menu fs-3">Zonas de servicios</span>
              </a>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" href="{% url 'crear_servicio' %}" aria-expanded="false">
                <span><iconify-icon icon="solar:add-circle-bold-duotone" class="fs-6"></iconify-icon></span>
                <span class="hide-menu fs-3">Agregar servicio</span>
              </a>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" href="{% url 'servicios_prestados' %}">
                <span><iconify-icon icon="solar:list-bold-duotone" class="fs-6"></iconify-icon></span>
                <span class="hide-menu">Servicios ofrecidos</span>
              </a>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" href="{% url 'calificaciones' %}" aria-expanded="false">
                <span>
                  <iconify-icon icon="solar:file-text-bold-duotone" class="fs-6"></iconify-icon>
                </span>
                <span class="hide-menu fs-3">Calificaciones recibidas</span>
              </a>
            </li>
          </ul>
          
        </nav>
        <!-- End Sidebar navigation -->
      </div>
    </aside>
    <!--  Sidebar End -->

    <!--  Main wrapper -->
    <div class="body-wrapper">
      <!--  Header Start -->
      <header class="app-header">
        <nav class="navbar navbar-expand-lg navbar-light">

          <div class="navbar-collapse justify-content-end px-0" id="navbarNav">
            <ul class="navbar-nav flex-row ms-auto align-items-center justify-content-end">
              <a href="#" target="_blank"
                class="btn btn-success"><span class="d-none d-md-block">Recomendar a un amigo</span> <span class="d-block d-md-none">Free</span></a>
              <li class="nav-item dropdown">
                <a class="nav-link nav-icon-hover" href="javascript:void(0)" id="drop2" data-bs-toggle="dropdown"
                  aria-expanded="false">
                  <img src="{% static 'images/dash/profile/user-1.jpg' %}" alt="" width="35" height="35" class="rounded-circle">
                </a>
                <div class="dropdown-menu dropdown-menu-end dropdown-menu-animate-up" aria-labelledby="drop2">
                  <div class="message-body">
                    <form method="post" action="{% url 'logout' %}" class="mx-3 mt-2 d-block">
                      {% csrf_token %}
                      <button type="submit" class="btn btn-outline-primary">Cerrar sesión</button>
                    </form>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </nav>
      </header>
      <!--  Header End -->
      <div class="ml-10">
        <div class="pt-20">
          {% block content %} {% endblock %}
        </div>
        <div class="py-6 px-6 text-center">
          <p class="mb-0 fs-4">Design and Developed by SevenUp Group</p>
        </div>    
      </div>
  </div>
  <script src="{% static 'libs/jquery/dist/jquery.min.js' %}"></script>
  <script src="{% static 'libs/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'libs/apexcharts/dist/apexcharts.min.js' %}"></script>
  <script src="{% static 'libs/simplebar/dist/simplebar.js' %}"></script>
  <script src="{% static 'js/sidebarmenu.js' %}"></script>
  <script src="{% static 'js/app.min.js' %}"></script>
  <script src="{% static 'js/dashboard.js' %}"></script>
  <script src="https://cdn.jsdelivr.net/npm/iconify-icon@1.0.8/dist/iconify-icon.min.js"></script>
</body>

</html>