{% load static %}

<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Mi Perfil de consumidor</title>
  <link rel="shortcut icon" type="image/png" href={% static "images/dash/logos/seodashlogo.png"%} />
  <link rel="stylesheet" href={% static "css/dash/styles.min.css"%} />
  <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
  <!--  Body Wrapper -->
  <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
    data-sidebar-position="fixed" data-header-position="fixed">
    <!-- Sidebar Start -->
    <aside class="left-sidebar">
      <!-- Sidebar scroll-->
      <div>
        <div class="brand-logo d-flex align-items-center justify-items-start ">
          {% comment %} <a href="#" class="text-nowrap logo-img ">
            <img src={% static "images/dash/logos/logoPanelControl.png"%} alt="logo Servicios Ya" />
          </a> {% endcomment %}
          <div class="close-btn d-xl-none d-block sidebartoggler cursor-pointer" id="sidebarCollapse">
            <i class="ti ti-x fs-8"></i>
          </div>
        </div>
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav" data-simplebar="">
          
          <ul id="sidebarnav">
            <div class="w-full bg-blue-100 h-10 flex justify-center items-center mb-10">
              <h1 class='text-2xl font-medium'>INICIO</h1>
            </div>
            <li class="sidebar-item">
              <a class="sidebar-link" href="#" aria-expanded="false">
                <span>
                  <iconify-icon icon="solar:home-smile-bold-duotone" class="fs-6"></iconify-icon>
                </span>
                <span class="hide-menu fs-3">Panel principal</span>
              </a>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" href="#" aria-expanded="false">
                <span>
                  <iconify-icon icon="solar:layers-minimalistic-bold-duotone" class="fs-6"></iconify-icon>
                </span>
                <span class="hide-menu fs-3">Contratos</span>
              </a>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" href="direcciones/" aria-expanded="false">
                <span>
                  <iconify-icon icon="solar:planet-3-bold-duotone" class="fs-6"></iconify-icon>
                </span>
                <span class="hide-menu fs-3">Direcciones</span>
              </a>
            </li>

            <li class="sidebar-item">
              <a class="sidebar-link" href="#" aria-expanded="false">
                <span>
                  <iconify-icon icon="solar:bookmark-square-minimalistic-bold-duotone" class="fs-6"></iconify-icon>
                </span>
                <span class="hide-menu fs-3">Metodos de pago</span>
              </a>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" href="./ui-forms.html" aria-expanded="false">
                <span>
                  <iconify-icon icon="solar:file-text-bold-duotone" class="fs-6"></iconify-icon>
                </span>
                <span class="hide-menu fs-3">Datos personales</span>
              </a>
            </li>
            <li class="sidebar-item">
              <form method="post" action="{% url 'logout' %}" style="display: inline;">
                {% csrf_token %}
                <button type="submit" class="sidebar-link btn btn-link" style="background: none; border: none;">
                  <span>
                    <iconify-icon icon="solar:login-3-bold-duotone" class="fs-6"></iconify-icon>
                  </span>
                  <span class="hide-menu fs-3">Cerrar sesión</span>
                </button>
              </form>
            </li>
            
          </ul>
          
        </nav>
        <!-- End Sidebar navigation -->
      </div>
      <!-- End Sidebar scroll-->
    </aside>
    <!--  Sidebar End -->
    <!--  Main wrapper -->
    <div class="body-wrapper">
      <!--  Header Start -->
      <header class="app-header">
        <nav class="navbar navbar-expand-lg navbar-light">

          <div class="navbar-collapse justify-content-end px-0" id="navbarNav">
            <div>
              <h2>Bienvenido {{ usuario.username }}</h2>
              <p>Correo electrónico: {{ usuario.email }}</p>
            </div>
            <ul class="navbar-nav flex-row ms-auto align-items-center justify-content-end">
              <a href="#" target="_blank"
                class="btn btn-primary me-2"><span class="d-none d-md-block">Quiero prestar servicio Ya!</span> <span class="d-block d-md-none">Pro</span></a>
              <a href="#" target="_blank"
                class="btn btn-success"><span class="d-none d-md-block">Recomendar a un amigo</span> <span class="d-block d-md-none">Free</span></a>
              <li class="nav-item dropdown">
                <a class="nav-link nav-icon-hover" href="javascript:void(0)" id="drop2" data-bs-toggle="dropdown"
                  aria-expanded="false">
                  <img src={% static "images/dash/profile/user-1.jpg"%} alt="" width="35" height="35" class="rounded-circle">
                </a>
                <div class="dropdown-menu dropdown-menu-end dropdown-menu-animate-up" aria-labelledby="drop2">
                  <div class="message-body">
                    <a href="javascript:void(0)" class="d-flex align-items-center gap-2 dropdown-item">
                      <i class="ti ti-user fs-6"></i>
                      <p class="mb-0 fs-3">Mi perfil</p>
                    </a>
                    <a href="javascript:void(0)" class="d-flex align-items-center gap-2 dropdown-item">
                      <i class="ti ti-mail fs-6"></i>
                      <p class="mb-0 fs-3">Mi cuenta</p>
                    </a>
                    <a href="javascript:void(0)" class="d-flex align-items-center gap-2 dropdown-item">
                      <i class="ti ti-list-check fs-6"></i>
                      <p class="mb-0 fs-3">Mi billetera</p>
                    </a>
                    <form method="post" action="{% url 'logout' %}">
                      {% csrf_token %}
                      <button type="submit" class="btn btn-outline-primary mx-3 mt-2 d-block">Cerrar sesión</button>
                    </form>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </nav>
      </header>
      <!--  Header End -->
      <div class="container-fluid">
        
        <div class="col-lg-12">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title fs-6 font-semibold">Contratos</h5>
              <div class="table-responsive">
                <table class="table text-nowrap align-middle mb-0">
                  <thead>
                    <tr class="border-2 border-bottom border-primary border-0"> 
                      <th scope="col" class="ps-2 text-center">Ver mas</th>
                      <th scope="col" class="ps-4">Fecha del servicio</th>
                      <th scope="col" class="text-center">Servicio prestado</th>
                      <th scope="col" class="text-center">Direccion</th>
                      <th scope="col" class="text-center">Detalles</th>
                      <th scope="col" class="text-center">Estado</th>
                      <th scope="col" class="text-center">Precio</th>
                    </tr>
                  </thead>
                  <tbody class="table-group-divider">
                    {% for contrato in contratos %}
                      <tr>
                        <td class="text-center fw-medium">
                          <button type="button" class="flex justify-center items-center text-white bg-green-700 hover:bg-green-800 focus:outline-none focus:ring-4 focus:ring-green-300 font-medium rounded-full px-3 py-3 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800">
                              <img src="{% static 'images/dash/logos/file-search.svg' %}" alt="Ícono" class="w-6 h-6">
                          </button>
                        </td>
                        <td class="text-center fw-medium">{{contrato.fecha_servicio}}</td>
                        <td class="text-center fw-medium">{{contrato.servicio_prestado.servicio.nombre}}</td>
                        <td class="text-center fw-medium">{{contrato.direccion.direccionCompleta}}</td>
                        <td class="text-center fw-medium">{{contrato.detalles}}</td>
                        <td class="text-center fw-medium">{{contrato.estado}}</td>
                        <td class="text-center fw-medium">AR$ {{contrato.precio_acordado}}</td>
                        {% comment %} <td>
                          <a href="javascript:void(0)" class="link-primary text-dark fw-medium d-block">/index.html</a>
                        </td> {% endcomment %}
                        
                      </tr>
                    {% endfor %}
                    
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      
        <div class="py-6 px-6 text-center">
          <p class="mb-0 fs-4">Design and Developed by <a href="https://adminmart.com/" target="_blank"
              class="pe-1 text-primary text-decoration-underline">AdminMart.com</a>Distributed by <a href="https://themewagon.com/" target="_blank"
              class="pe-1 text-primary text-decoration-underline">ThemeWagon</a></p>
        </div>

      </div>
    </div>
  </div>
  <script src={% static "libs/jquery/dist/jquery.min.js"%}></script>
  <script src={% static "libs/bootstrap/dist/js/bootstrap.bundle.min.js"%}></script>
  <script src={% static "libs/apexcharts/dist/apexcharts.min.js"%}></script>
  <script src={% static "libs/simplebar/dist/simplebar.js"%}></script>
  <script src={% static "js/sidebarmenu.js"%}></script>
  <script src={% static "js/app.min.js"%}></script>
  <script src={% static "js/dashboard.js"%}></script>
  <script src="https://cdn.jsdelivr.net/npm/iconify-icon@1.0.8/dist/iconify-icon.min.js"></script>
</body>

</html>